* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0;
}
.city-p {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  font-size: 2rem;
}

.komur-png {
  width: 40px;
  height: fit-content;
  object-fit: cover;
}

.mine-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
